.flex-box {
  height: 100px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-box {
  /*Tamanho Div*/
  height: 350px;
  width: 280px;

  /*Alinha Div*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /*Style Div*/
  background-color: White;
  border-radius: 15px;

  /*Box Shadow*/
  -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.596);
  -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.596);
  box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.596);
}

.itens-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.itens-list {
  width: 231px;
  height: 200px;
  background-color: aqua;
}

.error {
  position: absolute;
  border-radius: 15px !important;
  width: 245px;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -200%);
}

.icon {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 20px;
}
